<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: header}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>document</title>
    </head>

    <body>
        <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>

        <th:block th:replace="~{fragment/navbar :: sub-navbar}"></th:block>

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0"
                             th:src ="|/img/${item.storeFileName}|"
                             src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" th:text = "${item.name}">Shop item template</h1>
                        <div class="mb-5">
                            <span th:text = "|${{item.price}}원|">6,300원</span>
                        </div>

                        <p class="lead" th:text = "${item.info}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at
                            dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus
                            eius blanditiis delectus ipsam minima ea iste laborum vero?</p>

                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                            <button class="btn btn-outline-dark flex-shrink-0 order" type="button" onclick="order();">
                                <i class="bi-cart-fill me-1"></i>
                                Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <th:block th:replace="~{fragment/footer_js :: script}"></th:block>


    </body>
</html>
