<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: header}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>document</title>
    </head>

    <body>
        <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>

        <form method="post" enctype="multipart/form-data" class = "item-form" th:object = "${item}">
            <h2>상품 등록</h2>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ProductName</label>
                <input th:field = "*{itemName}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
            </div>

            <label for="category" class="form-label">Category</label>
            <select th:field ="*{categoryId}" class="form-select" aria-label="Default select example" id = "category">
                <option selected value = "" >==== Select Category ====</option>
                <option th:each = "category : ${categories}" th:value = "${category.id}" th:text = "${category.name}"></option>
            </select>

            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Price</label>
                <input th:field ="*{price}" type="number" class="form-control" id="exampleFormControlInput2" placeholder="price">
            </div>

            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Product Picture</label>
                <input th:field ="*{file}" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Product Info</label>
                <textarea th:field ="*{itemInfo}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class ="submit-button">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href = "/"><button type="button" class="btn btn-danger" onclick="history.back()">Cancel</button></a>
            </div>
        </form>


        <th:block th:replace="~{fragment/footer_js :: script}"></th:block>

    </body>
</html>
