<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: header}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>document</title>
</head>

<body>
    <div class = "container-fluid p-0">
        <div class = "row">
            <div class = "col-12">
                <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>
            </div>
        </div>

        <div class = "row justify-content-center mt-5">
            <div class = "col-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th>상품번호</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>수량</th>
                            <th>check</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "item : ${items}">
                            <td th:text = "${item.itemId}">John</td>
                            <td th:text = "${item.itemName}">Doe</td>
                            <td th:text = "${item.price}" name = "price" id = "price">price</td>
                            <td>
                                <input class="form-control text-center me-3" th:id="|quantity${item.itemId}|" type="num" value="1" style="max-width: 3rem">
                            </td>
                            <td>
                                <input class="form-check-input" type="checkbox" name="check" th:value = "${item.itemId}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row  justify-content-center mt-2" id ="address-bar">
            <div class="col-8">
                <label for="address" class="form-label">주소:</label>
                <input type="address" class="form-control mb-2" id="address">

                <label for="address-detail" class="form-label"> 상세주소:</label>
                <input type="address" class="form-control mb-4" id="address-detail">
            </div>
        </div>

        <div class="row  justify-content-center mt-2">
            <div class = "col-8  d-flex justify-content-between">
                <div>
                    <button type="button" class="btn btn-outline-dark" id = "order-btn">주문</button>
                    <button type="button" class="btn btn-outline-dark" id = "delete-btn">삭제</button>
                    <input type="radio" class="form-check-input" id="order" name="order-type" value="normal">
                    <label class="form-check-label me-10" for="order"> 무통장 입금 </label>

                    <input type="radio" class="form-check-input" id="order-card" name="order-type" value="card">
                    <label class="form-check-label" for="order-card"> 카드 결제 </label>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary" onclick="history.back()">뒤로가기</button>
                </div>
            </div>

        </div>

    </div>


    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
                window.onload = function(){
                    document.getElementById("address").addEventListener("click", function(){ //주소입력칸을 클릭하면 카카오 지도 발생
                        new daum.Postcode({
                            oncomplete: function(data) { //선택시 입력값 세팅
                                document.getElementById("address").value = data.address; // 주소 넣기
                                document.querySelector("input[id=address-detail]").focus(); //상세입력 포커싱
                            }
                        }).open();
                    });
                }
        </script>

    <th:block th:replace="~{fragment/footer_js :: script}"></th:block>
    <script src = "/js/basket.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>




</body>
</html>
