<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: header}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>document</title>
    </head>

    <body>

        <div class = "container-fluid p-0">

            <div class = "row">
                <div class = "col-12">
                    <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>
                </div>
            </div>

            <div class = "row mt-5  justify-content-center ">
                <div class = "col-4 join-header">
                    <h2 >Join</h2>
                </div>
            </div>

            <div class = "row  justify-content-center">
                <div class = "col-8">
                    <form class = "join-form" th:object = ${user}>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" th:field = "*{username}">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" th:field = "*{password}">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field = "*{email}">
<!--                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary" id = "join-button">Submit</button>
                </div>
            </div>

        </div>

        <th:block th:replace="~{fragment/footer_js :: script}"></th:block>
        <script src = "/js/user.js"></script>

    </body>
</html>
