<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: header}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>document</title>
    </head>

    <body>

        <div class = "container-fluid p-0">

            <div class = "row">
                <div class = "col-12">
                    <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>
                </div>
            </div>

            <div class = "row mt-5  justify-content-center ">
                <div class = "col-4 login-header">
                    <h2 >Login</h2>
                </div>
            </div>

            <div class = "row  justify-content-center">
                <div class = "col-6">
                    <form class = "login-form" method="post" action="/login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name = "username">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password"  name = "password">
                        </div>
                        <div class = "login-buttons">
                            <div>
                                <button type="submit" class="btn btn-primary me-4">Login</button>
                                <a href = "/oauth2/authorization/google" class = "google-login-icon me-2"></a>
                                <a href = "/oauth2/authorization/naver" class = "naver-login-icon"></a>
                            </div>
                            <button type="button" class="btn btn-secondary " onclick="history.back()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <th:block th:replace="~{fragment/footer_js :: script}"></th:block>
        <script src = "/js/user.js"></script>

    </body>
</html>
