

.login-button{
    padding-right:0;
    padding-left:0;
    background:0 0;border:0;
    border-radius:.25rem;
    display:block;padding:.5rem 1rem;
    color:#dee2e6;text-decoration:none;

}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-contents{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between flex-start;
    padding: 0px 200px;
}

.card img{
    height: 260px;
}

.card{
    margin-top: 50px;
    margin-right: 80px;
    height: 380px;
}

.card-body{
    position: relative;
}

.card-body span{
    position: absolute;
    bottom: 20px;
    right: 10px;
}


.modal.fade{
    position: fixed;
    top:50%;
    transform: translateY(-20%);
}


.modal-body img{
    width : 50px;
    height: 50px;

}

a:link {
    color: black;
    text-decoration: none;
}

.google-login{
    display: block;

}

.item-form{
    padding: 50px 350px;
}


.item-form h2 {
    margin-bottom: 20px;
}

.form-select{
    margin-bottom: 20px;
}

.btn.btn-primary, .btn.btn-danger{
    width:100px;
}

.submit-button{
    text-align: right;
}

.nav-item{
    margin-right: 30px;
}

