
.login-button{
    padding-right:0;
    padding-left:0;
    background:0 0;border:0;
    border-radius:.25rem;
    display:block;padding:.5rem 1rem;
    color:#dee2e6;text-decoration:none;

}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-item{
    margin-right: 15px;
}

.card-contents{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around flex-start;
    padding: 0 120px;
}

.card img{
    height: 260px;
}

.card-text{

    font-size: 15px;
    font-weight: 700;
}

.card{
    margin : 50px 60px;
    height: 380px;
    position: relative;
}

.card a{
    height: inherit;
}

.card-body span{
    position: absolute;
    bottom: 20px;
    right: 10px;

}


.modal.fade{
    position: fixed;
    top:50%;
    transform: translateY(-20%);
}


.modal-body img{
    width : 50px;
    height: 50px;

}

a {
    color: black;
    text-decoration: none;
}

.google-login{
    display: block;

}

.item-form{
    padding: 50px 350px;
}


.item-form h2 {
    margin-bottom: 20px;
}

.form-select{
    margin-bottom: 20px;
}

.btn.btn-primary, .btn.btn-danger{
    width:100px;
}

.submit-button{
    text-align: right;
}

.btn.btn-outline-dark.flex-shrink-0{
    margin-right: 10px;
}

.lead{
    height: 150px;
}

.join-form{
    margin-top : 20px;
}

.join-header,
.login-header{
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing :2px;
}

.login-buttons{
    display: flex;
    justify-content: space-between;
}

.login-buttons div{
    display: flex;
}

.google-login-icon{
    display: block;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    background-image: url("/images/google.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.naver-login-icon{
     display: block;
        width: 40px;
        height: 40px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 8px;

        background-image: url("/images/naver.png");
        background-repeat: no-repeat;
        background-size: cover;
}




