<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragment/head :: header}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>타이틀</title>
    </head>

    <body>
        <th:block th:replace="~{fragment/navbar :: navbar}"></th:block>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/main_wide2_7.jpg" class="d-block w-100" alt="welcomeImage">
              </div>
              <div class="carousel-item">
                <img src="img/main_wide2_8.jpg" class="d-block w-100" alt="welcomeImage">
              </div>
              <div class="carousel-item">
                <img src="img/main_wide2_3.jpg" class="d-block w-100" alt="welcomeImage">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                </ul>

                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>

            </div>
          </nav>
        
        <main class="card-contents">
            <div class="card-custom">
               <img src = "img/main_wide2_3.jpg">
               <h3>
                 상품명
               </h3>
               <strong>
                ₩ 37,000
               </strong>
              </div>
          
            
        </main>

        <th:block th:replace="~{fragment/footer_js :: script}"></th:block>

    </body>
</html>
