<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 등록 폼</h2>
  </div>
  <h4 class="mb-3">상품 입력</h4>
  <form th:action method="post" enctype="multipart/form-data">
    <ul>
      <li>상품명 <input type="text" name="itemName"></li>
      <li>
          <label for ="category">카테고리</label>
          <select id = "category" name = "categoryId">
            <option th:each = "category : ${categories}" th:value = "${category.id}" th:text = "${category.name}"></option>
          </select>
      </li>
      <li>상품가격 <input type="number" name="price"></li>
      <li>재고수량 <input type="number" name="quantity"></li>

      <li>파일<input type="file" multiple ="multiple" name="file"></li>
    </ul>

    <input type="submit"/>
  </form>
</div> <!-- /container -->
</body>
</html>